$font-stack: "Hind", sans-serif;
$fz: 14px;
$fw: 300;
*  {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 0.4s;
}

body {
  background: #ffffff;
  color: #000000;
  line-height: 0;
  font-family: $font-stack;
  font-size: $fz;
  font-weight: $fw;
}

html {
  scroll-behavior: smooth;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

button, i {
  cursor: pointer;
}

.wrapper {
  margin: 0 auto;
  width: 100%;
  overflow: hidden;
}

.container {
  width: 100%;
  padding: 0 10px;
  max-width: 1190px;
  margin: 0 auto;
  display: block;
  overflow: hidden;
}

i {
  line-height: 20px;
}

.clear {
  clear: both;
}