.main{
  .main__form {
    width: 100%;
    column-count: 4;
    margin-top: 10px;
    label {
      font-size: 20px;
      letter-spacing: 4px;
      line-height: 28px;
      text-transform: uppercase;
      color: #212121;
      font-weight: 700;
      font-family: "Montserrat";
    }
    .input {
      column-count: 2;
    }
    input {
      font-size: 15px;
      letter-spacing: 2px;
      line-height: 30px;
      padding: 10px 20px;
      text-transform: uppercase;
      color: #999999;
      font-weight: 300;
      font-family: "Hind";
      outline: none;
      border: 0;
      background-color: #FFFFFF;
    }
    button {
      position: relative;
      z-index: 1;
      float: right;
      font-size: 14px;
      letter-spacing: 3px;
      line-height: 24px;
      text-transform: uppercase;
      color: #ffffff;
      font-weight: 500;
      font-family: "Hind";
      background-color: #212121;
      padding: 15px 50px;

    }
  }
  .comment__block {
    &__form {
      width: 70%;
      flex-direction: row;
      display: inline-flex;
      flex-wrap: nowrap;
      input {
        text-align: left;
        border: 0;
        outline: none;
        font-size: 14px;
        letter-spacing: 1px;
        line-height: 24px;
        text-transform: uppercase;
        color: #999999;
        font-weight: 400;
        font-family: "Hind";
        padding-left: 15px;
        overflow: hidden;
      }

    }
  }
}