%sectione {
  background-color: #181818;
  height: 1000px;
  overflow: hidden;
}

%button {
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 500;
  font-family: $botton-font-stack;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  padding: 15px;
  text-align: center;
}

%container {
  text-align: center;
  line-height: 0;
  position: relative;
}

%aos-animate-hover {
  overflow: visible;
  transition: all 0.8s;
  z-index: 1;
}

.test a {
  display: inline-flex;
  font-size: 60px;
  color: #a1a1a1;
  margin: 20px;
}